:root {
    --navy: #052D60;
    --royal: #0D79FF;
    --sky: #CCE3FF;
    --orange: #FF950D;
    --gray: #E0E0E0;
    --black: #292929;
    --white: #F9F9F9;

    --btn-padding: 0.7rem 1.2rem 0.8rem;

    --transition-time: 200ms;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--white);
    color: var(--black);
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

header, main {
    margin: 0 auto;
    padding: 0 1rem;
    width: 60%;
    max-width: 1000px;
}

header {
    margin-top: 2rem;
}

footer {
    background-color: var(--navy);
    color: var(--white);
}

footer p {
    margin: 4rem auto 0;
    padding: 2rem 1rem;
    width: 60%;
    max-width: 1000px;
}

h1, h2, h3 {
    font-family: 'Lora', 'Georgia',serif;
    font-weight: 500;
    color: var(--royal);
    margin: 0 0 0.5rem;
}

h1 {
    font-size: 2.369rem;
    margin-top: 3rem;
}

h2 {
    font-size: 1.777rem;
    margin-top: 2rem;
}

h3 {
    font-size: 1.333rem;
    margin-top: 1rem;
}

h4 {
    font-size: 1rem;
    text-transform: uppercase;
}

p {
    margin: 0 0 1rem;
}

a, a:visited {
    color: var(--royal);
}

a:hover {
    color: var(--orange);
}

a:active {
    color: var(--sky);
}

article img {
    width: 50%;
    border: 1px solid var(--gray);
    border-radius: 8px;
    margin-bottom: 4rem;
    display: block;
}

.svg {
    height: 50px;
}

a.button{
    cursor: pointer;
    display: inline-block;
    background-color: var(--navy);
    color: var(--white);
    padding: var(--btn-padding);
    border-radius: 6px;
    margin-bottom: 1.5rem;
    font-family: 'Lora', 'Open Sans', sans-serif;
    text-decoration: none;
    transition: background-color var(--transition-time), color var(--transition-time);
}

a.button:hover {
    background-color: var(--sky);
    color: var(--navy);
}

a.button:active {
    background-color: var(--orange);
}
